<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Your Page Title</title>
</head>
<body style="
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
margin: 0;
display: flex;
align-items: center;
justify-content: center;">
<img src="../static/naslovna.png" height="608" width="1440" alt="IVANA"/>
<div class="welcome-text" style="font-family: cursive;
            font-size: 5rem;
            font-weight: bold;
            text-align: center;
            width: 450px;
            justify-content: left;
            display: flex;
            margin-top: 100px;
            margin-left: -650px;">
    Welcome to our Health Box
</div>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>