<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthBox</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">

</head>


<header>
    <nav class="bg-white shadow">
        <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
            <div class="flex h-16 justify-between ">
                <div class="flex px-2 lg:px-0 mb-2 ">
                    <div class="flex flex-shrink-0 items-center ">
                        <!-- Your logo here -->
                    </div>

                    <div class="hidden lg:ml-6 lg:flex lg:space-x-8">
                        <a th:href="@{/home}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Home</a>
                        <a th:href="@{/categories}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"> Categories </a>
                        <a th:href="@{/product}" class="inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Products</a>
                    </div>
                </div>


            </div>
        </div>
    </nav>
</header>

<body class="bg-cover bg-center bg-no-repeat" style="background-image: url('https://i.ibb.co/4gHf1Dh/pexels-madison-inouye-1831234.jpg')">
<div class="mt-7 flex justify-center items-center">
    <div class="w-full max-w-lg bg-white bg-opacity-90 p-6 rounded-lg shadow-md">
        <h2 class=" text-indigo-500 text-2xl font-semibold  mb-3">Payment</h2>
        <form class="space-y-3" method="post" action="/payment/add">
            <!-- Payment related form fields -->
            <div>
                <label for="cardholderName" class="block text-sm font-medium text-gray-700">Cardholder's Name</label>
                <input type="text" id="cardholderName" name="cardholderName" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md py-3 px-4" required autofocus>
            </div>
            <div>
                <label for="cardNumber" class="block text-sm font-medium text-gray-700">Card Number</label>
                <input type="text" id="cardNumber" name="cardNumber" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md py-3 px-4" required autofocus>
            </div>
            <div>
                <label for="expiryDate" class="block text-sm font-medium text-gray-700">Expiry Date</label>
                <input type="text" id="expiryDate" name="expiryDate" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md py-3 px-4" required autofocus>
            </div>
            <div>
                <label for="cvv" class="block text-sm font-medium text-gray-700">CVV</label>
                <input type="password" id="cvv" name="cvv" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md py-3 px-4" required>
            </div>
            <div>
                <label for="billingAddress" class="block text-sm font-medium text-gray-700">Billing Address</label>
                <textarea id="billingAddress" name="billingAddress" rows="3" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md py-3 px-4" required></textarea>
            </div>
            <div>
                <label for="paymentAmount" class="block text-sm font-medium text-gray-700">Payment Amount</label>
                <input type="number" id="paymentAmount" name="paymentAmount" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md py-3 px-4" required>
            </div>
            <div class="flex justify-between gap-2">
                <button type="submit" class="w-1/2 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Pay Now</button>

                <button th:href="@{/shop-cart}" type="button" class="w-1/2 flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-gray-700 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Cancel</button>
            </div>
        </form>
    </div>
</div>
</body>

</html>
